@charset "UTF-8";
menu,
ol,
ul {
    list-style: none
}

.book .book-body .page-wrapper .page-inner section.normal ul,
a,
b,
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
figcaption,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
i,
input,
legend,
li,
menu,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}

.o_shade,
video {
    background: #000
}

.o_body,
.o_main {
    min-height: 100%
}

.o_animate,
.o_zz {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out
}

.leaveout,
.o_Dropdown .name,
.o_oneline {
    -o-text-overflow: ellipsis
}

.o_moreline,
h1,
h2,
h3,
p,
span,
td {
    word-wrap: break-word
}

.o_3d,
.o_cutimgbox {
    -webkit-transform: translateZ(0);
    -webkit-backface-visiblity: hidden
}

.leaveout,
.oPager,
.o_oneline {
    white-space: nowrap
}

.oPager a,
.o_cell,
.o_cutimgbox .bgbox,
.o_menu_link {
    text-align: center
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}

a,
b,
div,
i,
img,
span {
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    font-style: normal
}

a {
    text-decoration: none;
    background: 0 0
}

a:active,
a:hover,
input,
textarea {
    outline: 0
}

del,
em,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    -webkit-text-size-adjust: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,
td,
th {
    padding: 0
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

input:-webkit-autofill {
    background-color: rgba(0, 0, 0, 0)!important;
    background-image: none!important;
    color: #666!important
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
    box-shadow: 0 0 0 60px #fff inset;
    -webkit-text-fill-color: #333
}

::-ms-clear,
::-ms-reveal {
    display: none
}

.hbox,
.lg,
.md,
.sm,
.xl {
    display: inline-block;
    position: fixed;
    top: -100px
}

body,
html {
    height: 100%;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 10px;
    background: #fff!important;
    box-sizing: border-box
}

img {
    border: 0
}

input[type=text],
input[type=email],
input[type=search],
input[type=password],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0
}

input,
small,
textarea {
    font-size: 12px
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

:after,
:before {
    box-sizing: inherit
}

@media (min-width:1px) {
    body {
        font-size: 10px
    }
}

.md,
.sm {
    width: 750px
}

.lg {
    width: 1200px
}

.xl {
    width: 0
}

.o_pre {
    max-height: 200px;
    overflow: scroll;
    color: #0c5ca8;
    font-size: 16px;
    line-height: 1.75em;
    padding: 10px;
    box-sizing: border-box;
    background: #dcf9de;
    border: none;
    height: auto
}

.o_hide {
    display: none
}

.o_body {
    overflow: hidden;
    position: relative;
    z-index: 0
}

.o_zz {
    background: url(#) #000;
    opacity: .5;
    filter: alpha(opacity=50);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    -webkit-transition-duration: .28s;
    -moz-transition-duration: .28s;
    transition-duration: .28s;
    transition-timing-function: ease-out;
    bottom: 0;
    right: 0
}

.o_menu_link,
.o_zIndex1,
.o_zIndex2,
.o_zIndex3,
.o_zIndex4,
.o_zIndex5 {
    position: relative
}

.o_clear,
.o_clearbox:after {
    height: 0;
    display: block;
    visibility: hidden;
    clear: both
}

.o_Dropdown,
.o_animate,
.o_shade {
    -webkit-transition-duration: .28s
}

.o_clearbox:after {
    content: "."
}

.o_table {
    display: table;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.o_H100,
.o_autoH,
.o_autoW,
.o_cell {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

.o_cell {
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%
}

.o_gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray
}

.o_color {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
    filter: none
}

.pointer {
    cursor: pointer
}

.emt {
    color: #ededed
}

.o_link_base {
    color: #111;
    cursor: pointer
}

.o_link_base:hover,
.o_link_base:hover * {
    color: #0c5ca8
}

.o_link_light,
.o_link_light * {
    color: #111;
    cursor: pointer
}

.o_link_light a:hover,
.o_link_light:hover,
.o_link_light:hover * {
    color: #1b1b1b
}

.o_link_base a {
    color: #111
}

.o_link_base a:hover,
.o_textlink_base a:active {
    color: #0c5ca8
}

.o_zIndex1 {
    z-index: 1!important
}

.o_zIndex2 {
    z-index: 2!important
}

.o_zIndex3 {
    z-index: 3!important
}

.o_zIndex4 {
    z-index: 4!important
}

.o_zIndex5 {
    z-index: 5!important
}

.o_noselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none
}

.leaveout {
    overflow: hidden;
    text-overflow: ellipsis
}

.o_H100,
.o_autoH,
.o_autoW {
    box-sizing: border-box
}

.o_borderbox,
.o_cutimgbox {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

.o_autoH,
.o_autoW {
    padding: 0!important;
    margin: 0!important;
    border: 0!important
}

.o_H100,
.o_autoW,
.o_fixW {
    display: inline-block;
    vertical-align: top
}

.o_oneline {
    overflow: hidden;
    text-overflow: ellipsis
}

td {
    word-break: break-all
}

@-moz-document url-prefix() {
    .o_table {
        display: inline-flex;
        flex-flow: column;
        justify-content: center;
        align-content: left;
        height: 100%
    }
    .o_table::after,
    .o_table::before {
        content: "";
        flex: 1 1
    }
    .o_cell {
        text-align: center;
        margin: 0 auto;
        display: block
    }
}

.o_animate {
    -moz-transition-duration: .28s;
    transition-duration: .28s;
    transition-timing-function: ease-out
}

.o_Dropdown,
.o_animate-solw,
.o_shade {
    -webkit-transition-timing-function: ease-out
}

.o_animate-solw {
    -webkit-transition-duration: .8s;
    -moz-transition-duration: .8s;
    transition-duration: .8s;
    -moz-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.o_animate-fast {
    -webkit-transition-duration: .1s;
    -moz-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    transition-timing-function: ease-in
}

.o_borderbox {
    box-sizing: border-box
}

.o_Hrel {
    -webkit-transition-duration: .1s;
    -moz-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    transition-timing-function: ease-in
}

.o_Dropdown,
.o_shade {
    -moz-transition-duration: .28s;
    -moz-transition-timing-function: ease-out
}

.o_header {
    background: #3ca14d
}

.o_menu_link,
.o_menu_link.cur {
    background: 0 0
}

.o_header:after {
    content: ".";
    height: 0;
    visibility: hidden;
    clear: both;
    display: block
}

.o_menu {
    z-index: 11
}

.o_menu_link {
    display: none;
    width: auto;
    height: auto;
    z-index: 11;
    line-height: auto;
    font-size: 30px;
    color: #444
}

.oPager a,
.oPager a:hover {
    color: #000;
    background: #fff
}

.o_menu_link img {
    vertical-align: middle;
    width: 50%
}

.o_cutimgbox,
.o_cutimgbox .bgbox,
ul.o_scrollH li {
    width: 100%;
    position: relative
}

ul.o_scrollH {
    position: relative;
    left: 20px;
    box-sizing: inherit
}

ul.o_scrollH li {
    left: -20px;
    box-sizing: border-box
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    ul.o_scrollH::-webkit-scrollbar {
        display: none
    }
}

.o_cutimgbox {
    display: table;
    height: 100%;
    box-sizing: border-box;
    font-size: 0;
    -webkit-text-size-adjust: none
}

.o_cutimgbox .bgbox,
.o_g {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

.o_cutimgbox .bgbox {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    font-size: 0
}

.o_cutimgbox .bgbox .imgbox {
    display: inline-block;
    font-size: 0;
    -webkit-text-size-adjust: none;
    position: relative;
    background: #333;
    box-sizing: border-box;
    overflow: hidden
}

.o_cutimgbox .bgbox .imgbox img {
    max-height: 100%;
    max-width: 100%;
    position: relative;
    width: auto;
    height: auto;
    filter: alpha(opacity=20);
    opacity: .2
}

.o_cutimgbox .bgbox .imgbox:after {
    content: "";
    display: block;
    position: relative;
    width: 100%
}

.oPager,
.oPager .jumpbox,
.oPager a {
    display: inline-block
}

.o_cutimgbox .cutbox {
    position: absolute;
    font-size: 0;
    top: 50%;
    left: 50%;
    z-index: 0
}

.o_cutimgbox .cutbox .box {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    overflow: hidden
}

.o_cutimgbox .cutbox .box img {
    position: relative;
    top: 0;
    left: 0;
    background: #999
}

.o_cutimgbox .controlbox {
    position: absolute;
    font-size: 0;
    top: 50%;
    left: 50%;
    z-index: 1;
    background: url(c_img2-1.png) -5000px no-repeat
}

.o_cutimgbox .controlbox .control {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: move;
    font-size: 0
}

.o_cutimgbox .controlbox .control .resize {
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: -12px;
    right: -12px;
    font-size: 0;
    text-align: center;
    line-height: 24px;
    cursor: se-resize
}

.o_cutimgbox .controlbox .control .resize:after {
    content: "";
    vertical-align: middle;
    width: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -5px;
    margin-left: -5px;
    height: 10px;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, .6);
    border: 1px solid #eee;
    box-sizing: border-box;
    display: inline-block
}

.oPager,
.oPager a,
.oPager span,
.o_g,
.o_popupclose,
.ui_form dl label,
.ui_input,
.ui_input * {
    vertical-align: top
}

.ui_input,
.ui_input input {
    margin-left: 15px
}

.oPager .text,
.oPager a {
    font-size: 14px;
    line-height: 38px;
    height: 38px;
    margin-right: 10px
}

.o_Dropdown .list,
.o_popup {
    box-shadow: 1px 9px 15px 3px rgba(0, 0, 0, .2)
}

.oPager a {
    min-width: 38px;
    border-radius: 0;
    border: 1px solid #c8c8c8;
    box-sizing: border-box
}

.oPager a:hover {
    border: 1px solid #c8c8c8
}

.oPager a.cur {
    color: #fff;
    background: #0c5ca8;
    border: 1px solid #0c5ca8
}

.oPager a.lose {
    cursor: default;
    color: #000;
    background: #fff;
    border: 1px solid #fff;
    opacity: .5
}

.oPager span {
    color: #000;
    margin-right: 10px;
    font-size: 14px;
    line-height: 38px
}

.oPager .jump,
.oPager .next,
.oPager .prev {
    padding: 0 10px;
    font-family: iconfont;
    background: 0 0
}

.oPager .prev {
    content: "\e63c"
}

.oPager .next {
    content: "\e63b"
}

.oPager .jump {
    content: ""
}

.oPager .text {
    border: 1px solid #c8c8c8;
    padding: 0 10px;
    width: 100px
}

.ui_form {
    padding: 10px 30px 20px;
    text-align: left
}

.ui_form dl {
    display: block;
    font-size: 0
}

.ui_form dl label {
    display: inline-block;
    width: 90px;
    font-size: 14px;
    color: #333;
    text-align: left
}

.ui_form dl .cbox {
    display: inline-block;
    width: 450px
}

.ui_input {
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
    white-space: normal;
    padding-right: 0;
    font-size: 0;
    line-height: normal
}

.ui_input.lose {
    background: #eee
}

.ui_input input,
.ui_input textarea {
    border: none;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 15px 10px 0;
    background: 0 0;
    color: #999;
    box-sizing: border-box
}

.ui_input textarea {
    display: block;
    width: 100%;
    resize: none
}

.ui_input .icon {
    width: 30px;
    line-height: 38px;
    display: inline-block;
    text-align: left;
    color: #999;
    font-size: 16px
}

.ui_input .btn {
    margin: 3px
}

.ui_input .time {
    font-size: 12px;
    line-height: 18px;
    padding: 0 15px 0 10px;
    color: #999;
    display: inline-block;
    margin: 10px 0;
    border-left: 1px solid #eee
}

.ui_input .link {
    color: #32beff;
    padding: 0 5px;
    line-height: 38px;
    font-size: 12px
}

.ui_input .code {
    margin: 3px;
    width: 100px;
    height: 32px;
    background: #eee;
    display: inline-block
}

.ui_input input.full,
.ui_input textarea.full {
    color: #333
}

.ui_input.cur {
    border-color: #005aaa
}

.ui_input.err {
    border-color: #ff7800
}

.ui_form .o_DropdownBody {
    margin-bottom: 10px;
    width: 100%
}

.ui_form .ui_addressbox {
    width: 100%
}

.ui_form .o_Dropdown {
    width: 100%!important
}

.ui_form label.name {
    display: block;
    font-size: 14px;
    color: #666;
    line-height: 1.3em;
    margin-bottom: 10px;
    width: 100%
}

.ui_input .toolbar {
    font-size: 12px;
    padding: 10px;
    text-align: right;
    color: #ccc;
    line-height: 1.3em
}

.o_popup.o_alert .tool,
.o_popup.o_confirm .tool,
.o_popupclose {
    text-align: center
}

.ui_checkbox,
.ui_radio {
    height: 30px;
    line-height: 30px;
    padding-right: 10px;
    margin-right: 10px;
    font-size: 14px;
    color: #666
}

.ui_radio {
    padding-left: 30px;
    display: inline-block;
    background: url(form_bg.gif) -5px -30px no-repeat;
    cursor: pointer
}

.ui_radio.cur {
    background-position: -5px 0
}

.ui_radio.lose {
    background-position: -5px -60px;
    cursor: default
}

.ui_radio input {
    display: none
}

.ui_checkbox {
    padding-left: 28px;
    display: inline-block;
    background: url(form_bg.gif) -5px -90px no-repeat;
    cursor: pointer
}

.ui_checkbox input,
.ui_err {
    display: none
}

.ui_checkbox.cur {
    background-position: -5px -120px
}

.ui_checkbox.lose {
    background-position: -5px -150px;
    cursor: default
}

.ui_err {
    position: relative;
    line-height: 16px;
    font-size: 12px;
    color: #ff7800;
    padding-left: 22px;
    margin-bottom: 10px
}

.o_font0,
.o_g {
    font-size: 0!important;
    line-height: auto
}

.ui_err.show {
    display: block
}

.ui_err a,
.ui_err i {
    display: inline-block
}

.ui_err a {
    color: #32beff;
    padding: 0 2px
}

.ui_err i {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background: url(form_bg.gif) left -187px no-repeat
}

.o_g {
    display: block;
    width: 100%;
    box-sizing: border-box
}

.o_df-table,
.o_u {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

.o_g:after {
    content: ".";
    height: 0;
    visibility: hidden;
    clear: both;
    display: block
}

.o_u {
    display: inline-block;
    text-rendering: auto;
    box-sizing: border-box
}

.o_shade {
    position: fixed;
    height: 2000px;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0 3.125%;
    display: block;
    opacity: 0;
    z-index: 999999999998;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#7F000000, endColorstr=#7F000000);
    filter: Alpha(opacity=50);
    transition-duration: .28s;
    transition-timing-function: ease-out
}

.o_shade.show {
    opacity: .5
}

.o_popup {
    width: 860px;
    left: 50%;
    margin-left: -430px;
    position: fixed;
    background: #fff;
    z-index: 999999999999;
    opacity: 0;
    display: none;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    transition-timing-function: ease-in
}

.o_popup.absolute,
.o_popupclose {
    position: absolute
}

.o_Dropdown,
.o_DropdownBody,
.o_popupclose {
    display: inline-block
}

.o_popup.show {
    animation: popup_show .3s ease-out 0s;
    -moz-animation: popup_show .3s ease-out 0s;
    -webkit-animation: popup_show .3s ease-out 0s;
    -o-animation: popup_show .3s ease-out 0s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    margin-top: 0;
    opacity: 1
}

@keyframes popup_show {
    0% {
        margin-top: -50px;
        opacity: 0
    }
    100% {
        margin-top: 0;
        opacity: 1
    }
}

@-moz-keyframes popup_show {
    0% {
        margin-top: -50px;
        opacity: 0
    }
    100% {
        margin-top: 0;
        opacity: 1
    }
}

@-o-keyframes popup_show {
    0% {
        margin-top: -50px;
        opacity: 0
    }
    100% {
        margin-top: 0;
        opacity: 1
    }
}

@-webkit-keyframes popup_show {
    0% {
        margin-top: -50px;
        opacity: 0
    }
    100% {
        margin-top: 0;
        opacity: 1
    }
}

.o_popup.show.hide {
    animation: popup_hide .3s ease-out 0s;
    -moz-animation: popup_hide .3s ease-out 0s;
    -webkit-animation: popup_hide .3s ease-out 0s;
    -o-animation: popup_hide .3s ease-out 0s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    margin-top: 0
}

@keyframes popup_hide {
    0% {
        margin-top: 0;
        opacity: 1
    }
    100% {
        margin-top: -50px;
        opacity: 0
    }
}

@-moz-keyframes popup_hide {
    0% {
        margin-top: 0;
        opacity: 1
    }
    100% {
        margin-top: -50px;
        opacity: 0
    }
}

@-o-keyframes popup_hide {
    0% {
        margin-top: 0;
        opacity: 1
    }
    100% {
        margin-top: -50px;
        opacity: 0
    }
}

@-webkit-keyframes popup_hide {
    0% {
        margin-top: 0;
        opacity: 1
    }
    100% {
        margin-top: -50px;
        opacity: 0
    }
}

.o_popupclose {
    background: #eee;
    height: 30px;
    line-height: 30px;
    width: 30px;
    float: right;
    font-size: 25px;
    color: #434040;
    top: 0;
    right: 0;
    font-family: iconfont;
    cursor: pointer
}

.o_popupclose:before {
    content: \f00d
}

.o_popup.o_alert {
    width: 400px;
    margin-left: -200px;
    padding: 45px 0 30px
}

.o_popup.o_confirm {
    width: 500px;
    margin-left: -250px;
    padding: 45px 30px 30px
}

.o_popup.o_alert .cont,
.o_popup.o_confirm .cont {
    padding-bottom: 30px;
    text-align: center;
    font-size: 14px;
    color: #333
}

.o_popup.o_alert .tool .btn,
.o_popup.o_confirm .tool .btn {
    margin: 0 10px
}

h2,
h3 {
    line-height: 1.5em;
    margin: 10px 0;
    color: #333;
    position: relative
}

h1 {
    font-size: 26px;
    line-height: 1.5em;
    padding: 10px;
    margin-bottom: 10px;
    color: #333;
    position: relative
}

h2 {
    font-size: 16px
}

h3 {
    font-size: 12px
}

h1 span,
h2 span,
h3 span {
    display: inline-block;
    padding: 0
}

select {
    opacity: 0
}

.o_DropdownBody {
    position: relative;
    z-index: 0
}

.o_Dropdown {
    height: 48px;
    border: 1px solid #ccc;
    position: relative;
    background: #fff;
    z-index: 9;
    cursor: pointer;
    box-sizing: border-box;
    transition-duration: .28s;
    transition-timing-function: ease-out
}

.o_InputSelectBox,
.o_bgbtnbase {
    -webkit-transition-duration: .28s;
    -moz-transition-duration: .28s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out
}

.o_Dropdown .name {
    height: 48px;
    line-height: 48px!important;
    font-size: 14px;
    color: #333;
    display: block;
    padding-left: 20px;
    padding-right: 30px;
    position: relative;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left
}

.o_Dropdown .i_down {
    display: inline-block;
    width: 12px;
    height: 12px;
    right: 6px;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    color: #000;
    font-size: 12px;
    line-height: 1em;
    font-family: iconfont
}

.o_Dropdown .i_down:before {
    content: "\e638"
}

.o_Dropdown.selected span {
    color: #666
}

.o_Dropdown select {
    cursor: default;
    text-indent: 0;
    color: #a0a0a0;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    line-height: 30px
}

.o_Dropdown.lose {
    background: #efefef
}

.o_Dropdown.lose .name {
    color: #999
}

.o_Dropdown .listbox {
    padding-top: 5px;
    display: none;
    position: absolute;
    left: -1px;
    top: 48px;
    min-width: 100%;
    margin-top: -10px
}

.o_Dropdown .list {
    min-width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    max-height: 200px
}

.o_Dropdown .list ul h2 {
    font-weight: 700;
    color: #000;
    padding: 10px;
    line-height: 1.37em;
    font-size: 14px;
    margin: 0
}

.o_Dropdown .list li {
    display: block;
    font-size: 12px;
    color: #333;
    cursor: pointer;
    white-space: nowrap
}

.o_Dropdown .list li span {
    padding: 10px 20px;
    display: block;
    font-size: 12px;
    line-height: 1.37em
}

.o_Dropdown .list li:hover {
    background: #F8FBFF;
    color: #333
}

.o_Dropdown .list li.lose {
    color: #ccc;
    cursor: default
}

.o_Dropdown .list li.cur {
    background: #ededed;
    color: #000
}

.o_Dropdown .o_scrollWin .o_barbox {
    width: 15px
}

.o_Dropdown .o_scrollWin .o_barbox span {
    margin-left: 7.5px
}

.o_DropdownBody.open .o_Dropdown {
    border-color: #0c5ca8;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1)
}

.oDropdownlist,
.o_InputSelectBox .list {
    box-shadow: 1px 9px 15px 3px rgba(0, 0, 0, .2)
}

.o_DropdownBody.open .o_Dropdown .i_down:before {
    content: "\e639"
}

.o_InputSelectBox {
    display: inline-block;
    position: relative;
    background: #fff;
    z-index: 9;
    cursor: pointer;
    box-sizing: border-box;
    transition-duration: .28s;
    transition-timing-function: ease-out;
    border: none;
    height: auto
}

.o_InputSelectBox select {
    cursor: default;
    text-indent: 0;
    color: #a0a0a0;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    line-height: 30px
}

.o_InputSelectBox.lose {
    background: #efefef
}

.o_InputSelectBox.lose .name {
    color: #999
}

.o_InputSelectBox .listbox {
    display: none;
    position: absolute;
    left: -1px;
    top: 48px;
    min-width: 100%;
    margin-top: -10px
}

.o_InputSelectBox .list {
    min-width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    max-height: 200px
}

.o_InputSelectBox .list ul h2 {
    font-weight: 700;
    color: #000;
    padding: 10px;
    line-height: 1.37em;
    font-size: 14px;
    margin: 0
}

.o_InputSelectBox .list li {
    display: block;
    font-size: 12px;
    color: #333;
    cursor: pointer;
    white-space: nowrap
}

.o_InputSelectBox .list li span {
    padding: 10px 20px;
    display: block;
    font-size: 12px;
    line-height: 1.37em
}

.o_InputSelectBox .list li:hover {
    background: #F8FBFF;
    color: #333
}

.o_InputSelectBox .list li.lose {
    color: #ccc;
    cursor: default
}

.o_InputSelectBox .list li.cur {
    background: #ededed;
    color: #000
}

.o_InputSelectBox .o_scrollWin .o_barbox {
    width: 15px
}

.o_InputSelectBox .o_scrollWin .o_barbox span {
    margin-left: 7.5px
}

.oDropdownlist {
    border: none;
    background: #fff;
    max-height: 400px;
    width: 80%!important;
    margin-left: -40%!important;
    border-radius: 3px;
    overflow: hidden
}

.oDropdownlist ul h2 {
    font-weight: 700;
    color: #000;
    padding: 10px;
    line-height: 1.37em;
    font-size: 14px;
    margin: 0
}

.oDropdownlist li {
    display: block;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    white-space: nowrap
}

.oDropdownlist li span {
    padding: 20px;
    display: block;
    font-size: 12px;
    line-height: 1.37em
}

.oDropdownlist li:hover {
    background: #F8FBFF;
    color: #333
}

.oDropdownlist li.lose {
    color: #ccc;
    cursor: default
}

.oDropdownlist li.cur {
    background: #0c5ca8;
    color: #000
}

.oDropdownlist .o_scrollWin .o_barbox {
    width: 15px
}

.oDropdownlist .o_scrollWin .o_barbox span {
    margin-left: 7.5px
}

.o_scrollWin {
    position: relative;
    overflow: hidden;
    min-height: 10px;
    height: 100%
}

.o_scrollWin .o_scrollbody {
    width: 100%;
    top: 0;
    left: 0
}

.o_scrollWin .o_barbox {
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    width: 6px;
    padding: 15px 0;
    box-sizing: border-box;
    z-index: 1;
    overflow: hidden
}

.o_scrollWin .o_barbox span {
    width: 0;
    background: #eee;
    left: 50%;
    margin-left: 0;
    height: 100%;
    display: block;
    position: absolute
}

.o_scrollWin .o_barbox .o_bar {
    position: absolute;
    width: 5px;
    min-height: 10px;
    background: #dadbe0;
    margin-top: 15px;
    top: 0;
    left: 50%;
    margin-left: -2.5px;
    display: block;
    cursor: pointer;
    z-index: 1
}

.o_bgbtnbase,
.o_linebtnbase {
    display: inline-block;
    cursor: pointer
}

.o_bgbtnbase {
    color: #fafafa;
    border: 1px solid #444;
    background: #444;
    transition-duration: .28s;
    transition-timing-function: ease-out
}

.o_bgbtn1,
.o_linebtnbase {
    -webkit-transition-duration: .28s;
    -moz-transition-duration: .28s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out
}

.o_bgbtnbase:hover {
    background: #444;
    border-color: #444;
    z-index: 1
}

.o_linebtnbase {
    color: #444;
    border: 1px solid #444;
    background: rgba(0, 0, 0, 0);
    transition-duration: .28s;
    transition-timing-function: ease-out
}

.o_linebtnbase:hover {
    border-color: #444;
    color: #444;
    z-index: 1
}

.o_bgbtn1,
.o_linebtn1 {
    display: inline-block;
    border: 1px solid #0c5ca8;
    cursor: pointer
}

.o_bgbtn1 {
    color: #fff;
    background: #0c5ca8;
    transition-duration: .28s;
    transition-timing-function: ease-out
}

.o_linebtn1,
.o_linebtn1:hover i {
    color: #0c5ca8
}

.o_bgbtn2,
.o_linebtn1 {
    -webkit-transition-duration: .28s;
    -moz-transition-duration: .28s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out
}

.o_linebtn1 {
    background: rgba(0, 0, 0, 0);
    transition-duration: .28s;
    transition-timing-function: ease-out
}

.o_bgbtn1:hover {
    background: #0c5ca8;
    border-color: #0c5ca8
}

.o_linebtn1:hover {
    border-color: #0c5ca8;
    color: #0c5ca8
}

.o_bgbtn2,
.o_linebtn2 {
    border: 1px solid #e543ae;
    cursor: pointer;
    display: inline-block
}

.o_bgbtn2 {
    color: #fff;
    background: #e543ae;
    transition-duration: .28s;
    transition-timing-function: ease-out
}

.o_df-animate,
.o_linebtn2 {
    -webkit-transition-duration: .28s;
    -moz-transition-duration: .28s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out
}

.o_linebtn2 {
    color: #e543ae;
    background: rgba(0, 0, 0, 0);
    transition-duration: .28s;
    transition-timing-function: ease-out
}

.o_bgbtn2:hover {
    background: #f957c2;
    border-color: #f957c2
}

.o_linebtn2:hover {
    border-color: #f957c2;
    color: #f957c2
}

.o_bgbtn1.o_lose,
.o_bgbtn1.o_lose:hover i,
.o_bgbtn2.o_lose,
.o_bgbtn2.o_lose:hover i,
.o_bgbtnbase.o_lose,
.o_bgbtnbase.o_lose:hover i {
    background: #c8c8c8;
    color: #fff;
    border-color: #c8c8c8;
    cursor: default
}

.o_linebtn1.o_lose,
.o_linebtn1.o_lose:hover i,
.o_linebtn2.o_lose,
.o_linebtn2.o_lose:hover i,
.o_linebtnbase.o_lose,
.o_linebtnbase.o_lose:hover i {
    background: #fff;
    color: #ccc;
    border-color: #f2f2f2;
    cursor: default
}

.o_color_demo {
    background: rgba(0, 0, 0, .2);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000);
    color: #fff;
    font-size: 30px;
    text-align: center
}

.o_form {
    width: 70%
}

.o_form .o_row {
    background: 0 0;
    margin-bottom: 5px
}

.o_form .o_row input[type=text],
.o_form .o_row textarea {
    border: 1px solid #999;
    background: #fff;
    color: #333;
    display: inline-block;
    font-size: 14px;
    width: 100%
}

.o_form .o_row input[type=text] {
    height: 30px;
    line-height: 30px;
    padding: 0 10px
}

.o_form .o_row textarea {
    padding: 10px;
    height: auto;
    resize: none
}

.o_form .o_row label {
    display: inline-block;
    background: 0 0;
    font-size: 14px;
    color: #333;
    line-height: 30px
}

.o_form .o_row .o_u {
    border: none!important
}

.o_loadingBox {
    width: 80px;
    height: 80px;
    position: absolute;
    margin-top: -40px;
    margin-right: -40px;
    top: 50%;
    right: 50%;
    z-index: 99
}

.o_loadingBox span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: green;
    position: absolute;
    overflow: hidden;
    -webkit-animation: load 1s ease infinite
}

@-webkit-keyframes load {
    0% {
        -webkit-transform: scale(1.6);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(.2);
        opacity: .5
    }
}

.o_loadingBox span.o1 {
    left: 0;
    top: 50%;
    margin-top: -5px;
    -webkit-animation-delay: .13s
}

.o_loadingBox span.o2 {
    left: 9.76px;
    top: 9.76px;
    -webkit-animation-delay: .26s
}

.o_loadingBox span.o3 {
    left: 50%;
    top: 0;
    margin-left: -5px;
    -webkit-animation-delay: .39s
}

.o_loadingBox span.o4 {
    top: 9.76px;
    right: 9.76px;
    -webkit-animation-delay: .52s
}

.o_loadingBox span.o5 {
    right: 0;
    top: 50%;
    margin-top: -5px;
    -webkit-animation-delay: .65s
}

.o_loadingBox span.o6 {
    right: 9.76px;
    bottom: 9.76px;
    -webkit-animation-delay: .78s
}

.o_loadingBox span.o7 {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    -webkit-animation-delay: .91s
}

.o_loadingBox span.o8 {
    bottom: 9.76px;
    left: 9.76px;
    -webkit-animation-delay: 1.04s
}

.o_loadingBox .tt {
    font-size: 12px;
    line-height: 12px;
    width: 80px;
    text-align: center;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -6px;
    color: #999
}

.o_btn_df-sm i,
.o_btn_df-sm span {
    line-height: 20px;
    vertical-align: top
}

.o_shade_loading {
    background: rgba(255, 255, 255, .5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10
}

.o_btn_df-df i,
.o_btn_df-sm i,
.o_btn_df-xl i {
    position: relative;
    top: 0
}

.o_g .o_u.o_df_1-2 {
    width: 50%
}

.o_g .o_u.o_df_2-2 {
    width: 100%
}

.o_g .o_u.o_df_1-3 {
    width: 33.33333333%
}

.o_g .o_u.o_df_2-3 {
    width: 66.66666667%
}

.o_g .o_u.o_df_3-3 {
    width: 100%
}

.o_g .o_u.o_df_1-4 {
    width: 25%
}

.o_g .o_u.o_df_2-4 {
    width: 50%
}

.o_g .o_u.o_df_3-4 {
    width: 75%
}

.o_g .o_u.o_df_4-4 {
    width: 100%
}

.o_g .o_u.o_df_1-5 {
    width: 20%
}

.o_g .o_u.o_df_2-5 {
    width: 40%
}

.o_g .o_u.o_df_3-5 {
    width: 60%
}

.o_g .o_u.o_df_4-5 {
    width: 80%
}

.o_g .o_u.o_df_5-5 {
    width: 100%
}

.o_g .o_u.o_df_1-6 {
    width: 16.66666667%
}

.o_g .o_u.o_df_2-6 {
    width: 33.33333333%
}

.o_g .o_u.o_df_3-6 {
    width: 50%
}

.o_g .o_u.o_df_4-6 {
    width: 66.66666667%
}

.o_g .o_u.o_df_5-6 {
    width: 83.33333333%
}

.o_g .o_u.o_df_6-6 {
    width: 100%
}

.o_g .o_u.o_df_1-8 {
    width: 12.5%
}

.o_g .o_u.o_df_2-8 {
    width: 25%
}

.o_g .o_u.o_df_3-8 {
    width: 37.5%
}

.o_g .o_u.o_df_4-8 {
    width: 50%
}

.o_g .o_u.o_df_5-8 {
    width: 62.5%
}

.o_g .o_u.o_df_6-8 {
    width: 75%
}

.o_g .o_u.o_df_7-8 {
    width: 87.5%
}

.o_g .o_u.o_df_8-8 {
    width: 100%
}

.o_g .o_u.o_df_1-10 {
    width: 10%
}

.o_g .o_u.o_df_2-10 {
    width: 20%
}

.o_g .o_u.o_df_3-10 {
    width: 30%
}

.o_g .o_u.o_df_4-10 {
    width: 40%
}

.o_g .o_u.o_df_5-10 {
    width: 50%
}

.o_g .o_u.o_df_6-10 {
    width: 60%
}

.o_g .o_u.o_df_7-10 {
    width: 70%
}

.o_g .o_u.o_df_8-10 {
    width: 80%
}

.o_g .o_u.o_df_9-10 {
    width: 90%
}

.o_g .o_u.o_df_10-10 {
    width: 100%
}

.o_g .o_u.o_df_1-12 {
    width: 8.33333333%
}

.o_g .o_u.o_df_2-12 {
    width: 16.66666667%
}

.o_g .o_u.o_df_3-12 {
    width: 25%
}

.o_g .o_u.o_df_4-12 {
    width: 33.33333333%
}

.o_g .o_u.o_df_5-12 {
    width: 41.66666667%
}

.o_g .o_u.o_df_6-12 {
    width: 50%
}

.o_g .o_u.o_df_7-12 {
    width: 58.33333333%
}

.o_g .o_u.o_df_8-12 {
    width: 66.66666667%
}

.o_g .o_u.o_df_9-12 {
    width: 75%
}

.o_g .o_u.o_df_10-12 {
    width: 83.33333333%
}

.o_g .o_u.o_df_11-12 {
    width: 91.66666667%
}

.o_g .o_u.o_df_12-12 {
    width: 100%
}

.o_g .o_u.o_df_1-24 {
    width: 4.16666667%
}

.o_g .o_u.o_df_2-24 {
    width: 8.33333333%
}

.o_g .o_u.o_df_3-24 {
    width: 12.5%
}

.o_g .o_u.o_df_4-24 {
    width: 16.66666667%
}

.o_g .o_u.o_df_5-24 {
    width: 20.83333333%
}

.o_g .o_u.o_df_6-24 {
    width: 25%
}

.o_g .o_u.o_df_7-24 {
    width: 29.16666667%
}

.o_g .o_u.o_df_8-24 {
    width: 33.33333333%
}

.o_g .o_u.o_df_9-24 {
    width: 37.5%
}

.o_g .o_u.o_df_10-24 {
    width: 41.66666667%
}

.o_g .o_u.o_df_11-24 {
    width: 45.83333333%
}

.o_g .o_u.o_df_12-24 {
    width: 50%
}

.o_g .o_u.o_df_13-24 {
    width: 54.16666667%
}

.o_g .o_u.o_df_14-24 {
    width: 58.33333333%
}

.o_g .o_u.o_df_15-24 {
    width: 62.5%
}

.o_g .o_u.o_df_16-24 {
    width: 66.66666667%
}

.o_g .o_u.o_df_17-24 {
    width: 70.83333333%
}

.o_g .o_u.o_df_18-24 {
    width: 75%
}

.o_g .o_u.o_df_19-24 {
    width: 79.16666667%
}

.o_g .o_u.o_df_20-24 {
    width: 83.33333333%
}

.o_g .o_u.o_df_21-24 {
    width: 87.5%
}

.o_g .o_u.o_df_22-24 {
    width: 91.66666667%
}

.o_g .o_u.o_df_23-24 {
    width: 95.83333333%
}

.o_df-cell,
.o_g .o_u.o_df_24-24,
.o_m_zz {
    width: 100%
}

.o_df-left {
    float: left!important
}

.o_df-right {
    float: right!important
}

.o_df-show {
    display: inline-block!important
}

.o_df-show-block {
    display: block!important
}

.o_df-hide {
    display: none!important
}

.o_df-inlineblock {
    display: inline-block!important
}

.o_df-center {
    text-align: center!important
}

.o_df-textright {
    text-align: right!important
}

.o_df-textleft {
    text-align: left!important
}

.o_df-animate {
    transition-duration: .28s;
    transition-timing-function: ease-out
}

.o_btn_df-sm {
    font-size: 0;
    overflow: hidden;
    box-sizing: border-box
}

.o_btn_df-sm span {
    display: block;
    padding: 0 12px;
    font-size: 12px;
    text-align: center
}

.o_btn_df-sm i {
    padding: 0 8px;
    font-size: 16px;
    display: inline-block;
    box-sizing: border-box
}

.o_btn_df-df {
    font-size: 0;
    overflow: hidden;
    box-sizing: border-box
}

.o_btn_df-df span {
    line-height: 48px;
    display: block;
    padding: 0 64px;
    font-size: 18px;
    vertical-align: top;
    text-align: center
}

.o_btn_df-df i {
    padding: 0 11px;
    font-size: 22px;
    display: inline-block;
    line-height: 48px;
    vertical-align: top
}

.o_btn_df-xl i,
.o_btn_df-xl span {
    line-height: 66px;
    vertical-align: top
}

.o_btn_df-xl {
    font-size: 0;
    overflow: hidden;
    box-sizing: border-box
}

.o_btn_df-xl span {
    display: block;
    padding: 0 60px;
    font-size: 24px;
    text-align: center
}

.o_btn_df-xl i {
    padding: 0 15px;
    font-size: 28px;
    display: inline-block
}

.o_df-table {
    display: table!important;
    width: 100%;
    height: 100%;
    box-sizing: border-box
}

.o_df-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

@-moz-document url-prefix() {
    .o_df-table {
        display: flex!important;
        flex-flow: column;
        justify-content: center;
        align-content: center;
        height: 100%
    }
    .o_df-table::after,
    .o_df-table::before {
        content: "";
        flex: 1 1
    }
    .o_df-cell {
        text-align: center;
        margin: 0 auto;
        display: block;
        width: 100%
    }
}

.o_font-large {
    font-size: 72px;
    line-height: 1.2em
}

.o_font-middle {
    font-size: 32px;
    line-height: 1.2em
}

.o_font-small {
    font-size: 18px;
    line-height: 1.2em
}

.o_m_zz {
    background: url(#) #000;
    opacity: .5;
    filter: alpha(opacity=50);
    position: fixed;
    left: 0;
    height: 100%;
    z-index: 100;
    -webkit-transition-duration: .28s;
    -moz-transition-duration: .28s;
    transition-duration: .28s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    bottom: 0;
    right: 0;
    top: 0;
    overflow: scroll
}

@media (max-width:750px) {
    body .o_btn_xs-df,
    body .o_btn_xs-sm,
    body .o_btn_xs-xl {
        overflow: hidden;
        box-sizing: border-box
    }
    body .o_btn_xs-df i,
    body .o_btn_xs-sm i,
    body .o_btn_xs-xl i {
        vertical-align: top;
        top: 0;
        position: relative
    }
    body .o_g .o_u.o_xs_1-2 {
        width: 50%
    }
    body .o_g .o_u.o_xs_2-2 {
        width: 100%
    }
    body .o_g .o_u.o_xs_1-3 {
        width: 33.33333333%
    }
    body .o_g .o_u.o_xs_2-3 {
        width: 66.66666667%
    }
    body .o_g .o_u.o_xs_3-3 {
        width: 100%
    }
    body .o_g .o_u.o_xs_1-4 {
        width: 25%
    }
    body .o_g .o_u.o_xs_2-4 {
        width: 50%
    }
    body .o_g .o_u.o_xs_3-4 {
        width: 75%
    }
    body .o_g .o_u.o_xs_4-4 {
        width: 100%
    }
    body .o_g .o_u.o_xs_1-5 {
        width: 20%
    }
    body .o_g .o_u.o_xs_2-5 {
        width: 40%
    }
    body .o_g .o_u.o_xs_3-5 {
        width: 60%
    }
    body .o_g .o_u.o_xs_4-5 {
        width: 80%
    }
    body .o_g .o_u.o_xs_5-5 {
        width: 100%
    }
    body .o_g .o_u.o_xs_1-6 {
        width: 16.66666667%
    }
    body .o_g .o_u.o_xs_2-6 {
        width: 33.33333333%
    }
    body .o_g .o_u.o_xs_3-6 {
        width: 50%
    }
    body .o_g .o_u.o_xs_4-6 {
        width: 66.66666667%
    }
    body .o_g .o_u.o_xs_5-6 {
        width: 83.33333333%
    }
    body .o_g .o_u.o_xs_6-6 {
        width: 100%
    }
    body .o_g .o_u.o_xs_1-8 {
        width: 12.5%
    }
    body .o_g .o_u.o_xs_2-8 {
        width: 25%
    }
    body .o_g .o_u.o_xs_3-8 {
        width: 37.5%
    }
    body .o_g .o_u.o_xs_4-8 {
        width: 50%
    }
    body .o_g .o_u.o_xs_5-8 {
        width: 62.5%
    }
    body .o_g .o_u.o_xs_6-8 {
        width: 75%
    }
    body .o_g .o_u.o_xs_7-8 {
        width: 87.5%
    }
    body .o_g .o_u.o_xs_8-8 {
        width: 100%
    }
    body .o_g .o_u.o_xs_1-12 {
        width: 8.33333333%
    }
    body .o_g .o_u.o_xs_2-12 {
        width: 16.66666667%
    }
    body .o_g .o_u.o_xs_3-12 {
        width: 25%
    }
    body .o_g .o_u.o_xs_4-12 {
        width: 33.33333333%
    }
    body .o_g .o_u.o_xs_5-12 {
        width: 41.66666667%
    }
    body .o_g .o_u.o_xs_6-12 {
        width: 50%
    }
    body .o_g .o_u.o_xs_7-12 {
        width: 58.33333333%
    }
    body .o_g .o_u.o_xs_8-12 {
        width: 66.66666667%
    }
    body .o_g .o_u.o_xs_9-12 {
        width: 75%
    }
    body .o_g .o_u.o_xs_10-12 {
        width: 83.33333333%
    }
    body .o_g .o_u.o_xs_11-12 {
        width: 91.66666667%
    }
    body .o_g .o_u.o_xs_12-12 {
        width: 100%
    }
    body .o_xs-left {
        float: left!important
    }
    body .o_xs-right {
        float: right!important
    }
    body .o_xs-show {
        display: inline-block!important
    }
    body .o_xs-show-block {
        display: block!important
    }
    body .o_xs-hide {
        display: none!important
    }
    body .o_xs-inlineblock {
        display: inline-block!important
    }
    body .o_xs-center {
        text-align: center!important
    }
    body .o_xs-textright {
        text-align: right!important
    }
    body .o_xs-textleft {
        text-align: left!important
    }
    body .o_xs-animate {
        -webkit-transition-duration: .28s;
        -moz-transition-duration: .28s;
        transition-duration: .28s;
        -webkit-transition-timing-function: ease-out;
        -moz-transition-timing-function: ease-out;
        transition-timing-function: ease-out
    }
    body .o_btn_xs-sm {
        font-size: 0
    }
    body .o_btn_xs-sm span {
        line-height: 20px;
        display: block;
        padding: 0 12px;
        font-size: 12px;
        vertical-align: top;
        text-align: center
    }
    body .o_btn_xs-sm i {
        padding: 0 8px;
        font-size: 16px;
        display: inline-block;
        line-height: 20px;
        box-sizing: border-box
    }
    body .o_btn_xs-df {
        font-size: 0
    }
    body .o_btn_xs-df span {
        line-height: 48px;
        display: block;
        padding: 0 64px;
        font-size: 18px;
        vertical-align: top;
        text-align: center
    }
    body .o_btn_xs-df i {
        padding: 0 11px;
        font-size: 22px;
        display: inline-block;
        line-height: 48px
    }
    body .o_btn_xs-xl {
        font-size: 0
    }
    body .o_btn_xs-xl span {
        line-height: 66px;
        display: block;
        padding: 0 60px;
        font-size: 24px;
        vertical-align: top;
        text-align: center
    }
    body .o_btn_xs-xl i {
        padding: 0 15px;
        font-size: 28px;
        display: inline-block;
        line-height: 66px
    }
    body .o_xs-table {
        display: table!important;
        width: 100%;
        height: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
    body .o_xs-cell {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%
    }
    @-moz-document url-prefix() {
        body .o_xs-table {
            display: flex!important;
            flex-flow: column;
            justify-content: center;
            align-content: center;
            height: 100%
        }
        body .o_xs-table::after,
        body .o_xs-table::before {
            content: "";
            flex: 1 1
        }
        body .o_xs-cell {
            text-align: center;
            margin: 0 auto;
            display: block;
            width: 100%
        }
    }
    body .o_font-large {
        font-size: 42px;
        line-height: 1.2em
    }
    body .o_font-middle {
        font-size: 18px;
        line-height: 1.2em
    }
    body .o_font-small {
        font-size: 12px;
        line-height: 1.2em
    }
    body .o_main {
        position: relative
    }
    body .o_popup {
        width: 320px;
        left: 50%;
        margin-left: -160px
    }
    body .o_popup.o_alert {
        width: 300px;
        margin-left: -150px
    }
}

@media (min-width:751px) and (max-width:1200px) {
    body .o_btn_md-df,
    body .o_btn_md-sm,
    body .o_btn_md-xl {
        overflow: hidden;
        box-sizing: border-box
    }
    body .o_btn_md-df i,
    body .o_btn_md-sm i,
    body .o_btn_md-xl i {
        vertical-align: top;
        top: 0;
        position: relative
    }
    body .o_g .o_u.o_md_1-2 {
        width: 50%
    }
    body .o_g .o_u.o_md_2-2 {
        width: 100%
    }
    body .o_g .o_u.o_md_1-3 {
        width: 33.33333333%
    }
    body .o_g .o_u.o_md_2-3 {
        width: 66.66666667%
    }
    body .o_g .o_u.o_md_3-3 {
        width: 100%
    }
    body .o_g .o_u.o_md_1-4 {
        width: 25%
    }
    body .o_g .o_u.o_md_2-4 {
        width: 50%
    }
    body .o_g .o_u.o_md_3-4 {
        width: 75%
    }
    body .o_g .o_u.o_md_4-4 {
        width: 100%
    }
    body .o_g .o_u.o_md_1-5 {
        width: 20%
    }
    body .o_g .o_u.o_md_2-5 {
        width: 40%
    }
    body .o_g .o_u.o_md_3-5 {
        width: 60%
    }
    body .o_g .o_u.o_md_4-5 {
        width: 80%
    }
    body .o_g .o_u.o_md_5-5 {
        width: 100%
    }
    body .o_g .o_u.o_md_1-6 {
        width: 16.66666667%
    }
    body .o_g .o_u.o_md_2-6 {
        width: 33.33333333%
    }
    body .o_g .o_u.o_md_3-6 {
        width: 50%
    }
    body .o_g .o_u.o_md_4-6 {
        width: 66.66666667%
    }
    body .o_g .o_u.o_md_5-6 {
        width: 83.33333333%
    }
    body .o_g .o_u.o_md_6-6 {
        width: 100%
    }
    body .o_g .o_u.o_md_1-8 {
        width: 12.5%
    }
    body .o_g .o_u.o_md_2-8 {
        width: 25%
    }
    body .o_g .o_u.o_md_3-8 {
        width: 37.5%
    }
    body .o_g .o_u.o_md_4-8 {
        width: 50%
    }
    body .o_g .o_u.o_md_5-8 {
        width: 62.5%
    }
    body .o_g .o_u.o_md_6-8 {
        width: 75%
    }
    body .o_g .o_u.o_md_7-8 {
        width: 87.5%
    }
    body .o_g .o_u.o_md_8-8 {
        width: 100%
    }
    body .o_g .o_u.o_md_1-12 {
        width: 8.33333333%
    }
    body .o_g .o_u.o_md_2-12 {
        width: 16.66666667%
    }
    body .o_g .o_u.o_md_3-12 {
        width: 25%
    }
    body .o_g .o_u.o_md_4-12 {
        width: 33.33333333%
    }
    body .o_g .o_u.o_md_5-12 {
        width: 41.66666667%
    }
    body .o_g .o_u.o_md_6-12 {
        width: 50%
    }
    body .o_g .o_u.o_md_7-12 {
        width: 58.33333333%
    }
    body .o_g .o_u.o_md_8-12 {
        width: 66.66666667%
    }
    body .o_g .o_u.o_md_9-12 {
        width: 75%
    }
    body .o_g .o_u.o_md_10-12 {
        width: 83.33333333%
    }
    body .o_g .o_u.o_md_11-12 {
        width: 91.66666667%
    }
    body .o_g .o_u.o_md_12-12 {
        width: 100%
    }
    body .o_md-left {
        float: left!important
    }
    body .o_md-right {
        float: right!important
    }
    body .o_md-show {
        display: inline-block!important
    }
    body .o_md-show-block {
        display: block!important
    }
    body .o_md-hide {
        display: none!important
    }
    body .o_md-inlineblock {
        display: inline-block!important
    }
    body .o_md-center {
        text-align: center!important
    }
    body .o_md-textright {
        text-align: right!important
    }
    body .o_md-textleft {
        text-align: left!important
    }
    body .o_md-animate {
        -webkit-transition-duration: .28s;
        -moz-transition-duration: .28s;
        transition-duration: .28s;
        -webkit-transition-timing-function: ease-out;
        -moz-transition-timing-function: ease-out;
        transition-timing-function: ease-out
    }
    body .o_btn_md-sm {
        font-size: 0
    }
    body .o_btn_md-sm span {
        line-height: 20px;
        display: block;
        padding: 0 12px;
        font-size: 12px;
        vertical-align: top;
        text-align: center
    }
    body .o_btn_md-sm i {
        padding: 0 8px;
        font-size: 16px;
        display: inline-block;
        line-height: 20px;
        box-sizing: border-box
    }
    body .o_btn_md-df {
        font-size: 0
    }
    body .o_btn_md-df span {
        line-height: 48px;
        display: block;
        padding: 0 64px;
        font-size: 18px;
        vertical-align: top;
        text-align: center
    }
    body .o_btn_md-df i {
        padding: 0 11px;
        font-size: 22px;
        display: inline-block;
        line-height: 48px
    }
    body .o_btn_md-xl {
        font-size: 0
    }
    body .o_btn_md-xl span {
        line-height: 66px;
        display: block;
        padding: 0 60px;
        font-size: 24px;
        vertical-align: top;
        text-align: center
    }
    body .o_btn_md-xl i {
        padding: 0 15px;
        font-size: 28px;
        display: inline-block;
        line-height: 66px
    }
    body .o_md-table {
        display: table!important;
        width: 100%;
        height: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
    body .o_md-cell {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%
    }
    @-moz-document url-prefix() {
        body .o_md-table {
            display: flex!important;
            flex-flow: column;
            justify-content: center;
            align-content: center;
            height: 100%
        }
        body .o_md-table::after,
        body .o_md-table::before {
            content: "";
            flex: 1 1
        }
        body .o_md-cell {
            text-align: center;
            margin: 0 auto;
            display: block;
            width: 100%
        }
    }
    body .o_popup,
    body .o_popup.o_alert {
        width: 400px;
        margin-left: -200px
    }
    body .o_font-large {
        font-size: 64px;
        line-height: 1.2em
    }
    body .o_font-middle {
        font-size: 26px;
        line-height: 1.2em
    }
    body .o_font-small {
        font-size: 14px;
        line-height: 1.2em
    }
    body .o_popup {
        left: 50%
    }
}

@media (min-width:750px) and (max-width:900px) {
    body .o_btn_sf-df,
    body .o_btn_sf-sm,
    body .o_btn_sf-xl {
        overflow: hidden;
        box-sizing: border-box
    }
    body .o_btn_sf-df i,
    body .o_btn_sf-sm i,
    body .o_btn_sf-xl i {
        vertical-align: top;
        top: 0;
        position: relative
    }
    body .o_g .o_u.o_sf_1-2 {
        width: 50%
    }
    body .o_g .o_u.o_sf_2-2 {
        width: 100%
    }
    body .o_g .o_u.o_sf_1-3 {
        width: 33.33333333%
    }
    body .o_g .o_u.o_sf_2-3 {
        width: 66.66666667%
    }
    body .o_g .o_u.o_sf_3-3 {
        width: 100%
    }
    body .o_g .o_u.o_sf_1-4 {
        width: 25%
    }
    body .o_g .o_u.o_sf_2-4 {
        width: 50%
    }
    body .o_g .o_u.o_sf_3-4 {
        width: 75%
    }
    body .o_g .o_u.o_sf_4-4 {
        width: 100%
    }
    body .o_g .o_u.o_sf_1-5 {
        width: 20%
    }
    body .o_g .o_u.o_sf_2-5 {
        width: 40%
    }
    body .o_g .o_u.o_sf_3-5 {
        width: 60%
    }
    body .o_g .o_u.o_sf_4-5 {
        width: 80%
    }
    body .o_g .o_u.o_sf_5-5 {
        width: 100%
    }
    body .o_g .o_u.o_sf_1-6 {
        width: 16.66666667%
    }
    body .o_g .o_u.o_sf_2-6 {
        width: 33.33333333%
    }
    body .o_g .o_u.o_sf_3-6 {
        width: 50%
    }
    body .o_g .o_u.o_sf_4-6 {
        width: 66.66666667%
    }
    body .o_g .o_u.o_sf_5-6 {
        width: 83.33333333%
    }
    body .o_g .o_u.o_sf_6-6 {
        width: 100%
    }
    body .o_g .o_u.o_sf_1-8 {
        width: 12.5%
    }
    body .o_g .o_u.o_sf_2-8 {
        width: 25%
    }
    body .o_g .o_u.o_sf_3-8 {
        width: 37.5%
    }
    body .o_g .o_u.o_sf_4-8 {
        width: 50%
    }
    body .o_g .o_u.o_sf_5-8 {
        width: 62.5%
    }
    body .o_g .o_u.o_sf_6-8 {
        width: 75%
    }
    body .o_g .o_u.o_sf_7-8 {
        width: 87.5%
    }
    body .o_g .o_u.o_sf_8-8 {
        width: 100%
    }
    body .o_g .o_u.o_sf_1-12 {
        width: 8.33333333%
    }
    body .o_g .o_u.o_sf_2-12 {
        width: 16.66666667%
    }
    body .o_g .o_u.o_sf_3-12 {
        width: 25%
    }
    body .o_g .o_u.o_sf_4-12 {
        width: 33.33333333%
    }
    body .o_g .o_u.o_sf_5-12 {
        width: 41.66666667%
    }
    body .o_g .o_u.o_sf_6-12 {
        width: 50%
    }
    body .o_g .o_u.o_sf_7-12 {
        width: 58.33333333%
    }
    body .o_g .o_u.o_sf_8-12 {
        width: 66.66666667%
    }
    body .o_g .o_u.o_sf_9-12 {
        width: 75%
    }
    body .o_g .o_u.o_sf_10-12 {
        width: 83.33333333%
    }
    body .o_g .o_u.o_sf_11-12 {
        width: 91.66666667%
    }
    body .o_g .o_u.o_sf_12-12 {
        width: 100%
    }
    body .o_sf-left {
        float: left!important
    }
    body .o_sf-right {
        float: right!important
    }
    body .o_sf-show {
        display: inline-block!important
    }
    body .o_sf-show-block {
        display: block!important
    }
    body .o_sf-hide {
        display: none!important
    }
    body .o_sf-inlineblock {
        display: inline-block!important
    }
    body .o_sf-center {
        text-align: center!important
    }
    body .o_sf-textright {
        text-align: right!important
    }
    body .o_sf-textleft {
        text-align: left!important
    }
    body .o_sf-animate {
        -webkit-transition-duration: .28s;
        -moz-transition-duration: .28s;
        transition-duration: .28s;
        -webkit-transition-timing-function: ease-out;
        -moz-transition-timing-function: ease-out;
        transition-timing-function: ease-out
    }
    body .o_btn_sf-sm {
        font-size: 0
    }
    body .o_btn_sf-sm span {
        line-height: 20px;
        display: block;
        padding: 0 12px;
        font-size: 12px;
        vertical-align: top;
        text-align: center
    }
    body .o_btn_sf-sm i {
        padding: 0 8px;
        font-size: 16px;
        display: inline-block;
        line-height: 20px;
        box-sizing: border-box
    }
    body .o_btn_sf-df {
        font-size: 0
    }
    body .o_btn_sf-df span {
        line-height: 48px;
        display: block;
        padding: 0 64px;
        font-size: 18px;
        vertical-align: top;
        text-align: center
    }
    body .o_btn_sf-df i {
        padding: 0 11px;
        font-size: 22px;
        display: inline-block;
        line-height: 48px
    }
    body .o_btn_sf-xl {
        font-size: 0
    }
    body .o_btn_sf-xl span {
        line-height: 66px;
        display: block;
        padding: 0 60px;
        font-size: 24px;
        vertical-align: top;
        text-align: center
    }
    body .o_btn_sf-xl i {
        padding: 0 15px;
        font-size: 28px;
        display: inline-block;
        line-height: 66px
    }
    body .o_sf-table {
        display: table!important;
        width: 100%;
        height: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
    body .o_sf-cell {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%
    }
    @-moz-document url-prefix() {
        body .o_sf-table {
            display: flex!important;
            flex-flow: column;
            justify-content: center;
            align-content: center;
            height: 100%
        }
        body .o_sf-table::after,
        body .o_sf-table::before {
            content: "";
            flex: 1 1
        }
        body .o_sf-cell {
            text-align: center;
            margin: 0 auto;
            display: block;
            width: 100%
        }
    }
    body .o_font-large,
    body .o_font-middle,
    body .o_font-small {
        font-size: 72px;
        line-height: 1.2em
    }
    body .o_popup {
        width: 320px;
        left: 50%;
        margin-left: -160px
    }
    body .o_popup.o_alert {
        width: 300px;
        margin-left: -150px
    }
}